<aside id="sidebar">
    <div class="sidebar-widget-1">
        <div class="sidebar-widget">
            <h3>Subscribe for Updates</h3>
            <div class="shortform">
                </div>
        </div>

        <h3>Related Posts</h3>
        <div class="sidebar-widget row block related-posts">
            </div>

        <div class="sidebar-widget row block">
            <h3>Follow ServisBOT</h3>
            <ul class="social clr">
                <li class="fb"><a target="_blank" href="https://www.facebook.com/servisbot">Facebook</a></li>
                <li class="in"><a target="_blank" href="https://www.linkedin.com/company/servisbot">LinkedIn</a></li>
                <li class="tw"><a target="_blank" href="https://twitter.com/ServisBOT">Twitter</a></li>
            </ul>
        </div>
    </div>
</aside>